.export-button {
  width: 330px;
  height: 150px;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.export-button i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.export-button span {
  text-transform: uppercase;
}

/* Tooltip styling */
.tooltip .tooltip-inner {
  max-width: 300px;
  padding: 8px 12px;
  font-size: 0.9rem;
} 