@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.search-bar {
  .input-group .dropdown-toggle {
    flex: 1;
    &:hover, &:active, &:focus, &.btn.show {
      background-color: var(--bs-tertiary-bg);
    }
  }

  // Add sufficient margin-bottom to accommodate max dropdown height (300px) + padding
  // This prevents dropdowns from covering the Selected Filters section below
  // Even with many users, the dropdown will scroll and won't exceed 300px height
  .input-group:last-of-type {
    margin-bottom: 320px; // Max dropdown height (300px) + 20px padding
  }

  .dropdown-toggle:after {
    color: var(--bs-light-4);
    font-size: 30px;
  }

  @include media-breakpoint-down(md) {
    #input-group-dropdown-0 {
      border-radius: $border-radius $border-radius 0 0;
      margin-left: -1px;
    }

    #input-group-dropdown-3,
    #input-group-dropdown-2,
    #input-group-dropdown-1 {
      border-top: 0
    }

    #button-addon2 {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}

.search-filters {
  // Selected Filters positioned below the reserved dropdown space
  // The margin-bottom on .search-bar .input-group:last-of-type (320px) creates the space
  margin-top: 0;
  position: relative;
  z-index: 1; // Below dropdowns (z-index: 10) but above other content

  .btn-close {
    width: 0.1em;
    height: 0.1em;
  }
}

.dropdown-menu.show {
  padding: 0;
  margin-top: -2px;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  max-height: 300px;
  overflow-y: auto;
  // Ensure dropdown appears above Selected Filters but below modals
  z-index: 10;
  .form-check {
    &:hover, &:active, &:focus {
      background-color: var(--bs-tertiary-bg);
    }
  }
}